{% extends "bootstrap/base.html" %}
{% block title %}{{this_title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>{{this_title}}</h1>
    <p class="important">
      This page summarizes the data we have on a gene.
    </p>
    {{content}}
    <iframe width=100% height=100% scrolling="no" style="overflow:hidden;height:100%;position:absolute;" src="http://webtasks.keck.waisman.wisc.edu/scatterize/d/Acdck0qHJo"> </iframe>
{% endblock %}

