    <nav class="navbar navbar-dark bg-dark ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('also_welcome') }}">
            <i class="fa fa-home" aria-hidden="true"></i> RNAseq analyses</a>
        </div>
        <div class="navbar-header bg-dark navbar-dark" id="my_search">
          <form class="navbar-form navbar-right" action='../results' method="get" >
            <label for="gene_search" class="text-white">
              <i class="fa fa-search" aria-hidden="true"></i> Gene Search: </label>
            <input name="gene_search" id="gene_search" class="typeahead" type="text" placeholder="search (gene id)" autocomplete="off" spellcheck="false" dir="auto" >
            <button value="Send" class="btn" type="submit" id="submit"></button>
          </form>
        </div>
      </div>
    </nav>
