          <form action='results' method="get" >
            <div class="container">
            <div class="form-group col-sm-6">
            <label for="gene_search_big"><h3>Search for a gene:</h2></label>
            <input name="gene_search" id="gene_search_big" class="typeahead" type="text" placeholder="search (gene id)" autocomplete="off" spellcheck="false" dir="auto" >
            <button value="Send" class="btn btn-default" type="submit" id="submit">Search...</button>
            </div>
          </div>
          </form>

